<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="signup_form">
  <div class="field input">
    <%= f.text_field :email ,:class => 'email_input', :placeholder => "Enter your Email!"%>
  </div>
  <div class="actions submit">
    <%= f.submit 'Sign Up!', :class => 'btn btn-primary btn-lg btn-block'%>
  </div>
</div>
<% end %>
