<!DOCTYPE html>
<html>
<head>
  <title>Flappyworms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>

  </style>
</head>
<body>

<div class="main-content">
<header class="container">
	<%= image_tag('logo.png', class: "logo") %>
</header>
	<%= yield %>
	<footer>
	<div class="container">

		<a href="/users">Admin Page</a>
	</div>
	</footer>

</div>
</body>
</html>
