<!DOCTYPE html>
<html>
<head>
  <title>Flappyworms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>

  </style>
</head>
<body>

<div class="main-content">
	<header class="container">
    <div class="row">
      <div class="col-sm-12">
		    <%= image_tag('logo.png', class: "logo img-responsive") %>
      </div>
    </div>
	</header>
	<%= yield %>
</div>
<footer>
	<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Admin Page</a></li>
				<li></li>
			</ul>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4">&copy; 2014 SteveCo Inc.</div>
	</div>

	</div>
</footer>


</body>
</html>
